fuzzywuzzy==0.18.0
pysbd==0.3.4
python-Levenshtein==0.12.2
stable-ts @ git+https://github.com/jianfch/stable-ts.git@26918d599349ea7199c1be5bddce2509c13781a0
natsort==8.2.0

#Anki support
requests==2.23.0
# subs2cia==0.4.2
git+https://github.com/kanjieater/subs2cia@2391f40#egg=subs2cia